.snake-body {
    background-color: #0468d7;
}
.food {
    background-color: #ff0000;
}
.bomb {
    background-color: #a81212;
}
.candy {
    background-color: #9019ff;
}
.snickers {
    background-color: #9c5900;
}
.ghost {
    background-image: url("./textures/ghost_right.png");
    image-rendering: pixelated;
}
.ghost-gray {
    background-image: url("./textures/ghost_gray_left.png");
    image-rendering: pixelated;
}

.wall {
    background-color: #292929;
}
