@import "./vars.less";
@import "./items.less";

@board-height: 20%;
@game-height: 100% - @board-height;

#root {
    margin: 20px;
    padding: 0;
    * {
        font-family: @font;
    }
    .main-container {
        width: @main-width;
        height: @main-height;
        margin: 0 auto;
        .tip-message {
            color: #2C3E50;
            font-size: 12pt;
            display: inline-block;
        }
        .bottom-button {
            float: right;
            cursor: pointer;
            margin-left: 10px;
            margin-block-start: 1em;
            margin-block-end: 1em;
            padding-bottom: 3px;
            outline: none;
            border: 0;
            border-radius: 2px;
            background-color: @theme-color-light-1;
            color: #fff;
            &:hover {
                background-color: @theme-color-light-2;
            }
            &:active {
                background-color: @theme-color-light-3;
            }
        }
        .board-container {
            width: 100%;
            height: @board-height;
            background-color: @theme-color;
            border-top-left-radius: @main-border-radius;
            border-top-right-radius: @main-border-radius;
            ul {
                width: 100%;
                height: 100%;
                padding: 0;
                li {
                    @padding-length: 30px;
                    text-align: center;
                    color: #fff;
                    list-style: none;
                    float: left;
                    padding: @padding-length;
                    padding-bottom: (@padding-length / 2) + 12;
                    width: ((@main-width) / 2) - (2 * @padding-length);
                    height: @board-height - (2 * @padding-length);
                    transition: background-color .1s;
                    p {
                        font-weight: bold;
                    }
                    &:hover {
                        background-color: #345474;
                    }
                }
            }
        }
        .game-container {
            @border-width: 1px;
            position: relative;
            height: @game-height;
            width: 100% - (@border-width / 4);
            border: @border-width solid @theme-color;
            border-top: none;
            border-bottom-left-radius: @main-border-radius;
            border-bottom-right-radius: @main-border-radius;
            background-color: #fff;
            * {
                position: absolute;
                display: inline-block;
                width: @ingame-block-width;
                height: @ingame-block-height;
            }
        }
        .dialog-page {
            background-color: #e7e7e7;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: width .3s;
            overflow: hidden;
            color: #2C3E50;
            & > * {
                min-width: 300px;
                margin-left: 20px;
                a {
                    color: #0468d7;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                code {
                    font-family: Consolas;
                    font-size: 10pt;
                }
            }
            .switcher {
                width: 70px;
            }
        }
    }
}
